
.container {
    background-color: #f3f6fd;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
}

.sidebar {
    padding: 5px;
    margin-top: 50%;
    margin-left: 15px;

}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.todo-bar {
    background-color: #f3f6fd;
    color : #26355D;
    display : grid;
    grid-template-rows: 1fr 6fr;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 25%;
    margin-right: 10px;
}

.todo-header {
    justify-content: center;
    display: flex;
}

.todo-main {
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 4fr;

}
.todo-content {
    /*border: 2px solid #26355D;*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap : 1px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}